
<div class="container">

  <h1>New Lesson</h1>

  <div class="row">
    <div class="col-md-8">
      <%= form_for @post do |f| %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control', placeholder: "Enter note title" %>
        </div>
        <div class="form-group">
          <%= f.label :tags %>
          <p>Model <%= f.check_box :model_tag, class: 'form-control' %></p>
        </div>
        <div class="form-group">
          <p>View <%= f.check_box :view_tag, class: 'form-control' %></p>
        </div>
        <div class="form-group">
          <p>Controller <%= f.check_box :controller_tag, class: 'form-control' %></p>
        </div>
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter note body" %>
        </div>
        <div class="form-group">
          <%= f.label :element %>
          <%= f.text_field :element, class: 'form-control', placeholder: "Enter iframe" %>
        </div>
        <div class="form-group">
          <%= f.label :body %>
          <%= f.text_area :body, rows: 25, class: 'form-control', placeholder: "Enter note body" %>
        </div>
        <div class="form-group">

          <%= f.submit "Save", class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
