<!DOCTYPE html>
<html>
  <head>
    <title>Cloudperfect</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <ul class="nav nav-tabs">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Notes", notes_path %></li>

        <div class="pull-right">


        <% if user_signed_in? %>
          <li>
          Signed in as: <strong><%= current_user.user_name %></strong> |
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> - <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          </li>
          <% else %>
          <li>

          <%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link'  %> -
          <%= link_to "Sign In", new_user_session_path, :class => 'navbar-link'  %>
          </li>
          <% end %>
          </div>
        </ul>
    </div>

    <div class="container">
      <% if notice.present? %>
        <aside class="alert alert-info">
          <%= notice %>
        </aside>
      <% end %>
      <% if alert.present? %>
        <aside class="alert alert-danger">
          <%= alert %>
        </aside>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
